 ol > li
 {
	color: red;
}
input[type="name"]
{
	background-color: red;
}
button{
	width: 100px;
	font-size: 23px;
	background-color: skyblue;
}
button:hover {
	background-color: green;
}
#first::before{
	content: "\21d2  clickhere";
	font-weight:bold; 
}
p::selection{
	color: black;
	background-color: skyblue;
}
@media (min-width: 600px){
	body{
		background-color: black;
	}

@media (max-width:  599px){
	body{
		background-color: pink;
	}
}